{% extends 'main/layout.html' %}

{% block content %}

    <div class="about">
        <div class="about__text">
            <h1>Компания PICKDREAM</h1>
            <p>
                Компания PICKDREAM была основана в 2024 году. Мы — официальный партнер таких известных технологических
                гигантов как NVIDIA, Intel, Microsoft.
            </p>
            <p>
                Нам также удалось реализовать несколько успешных совместных проектов с такими известными игровыми
                кампаниями как Wargaming, UbiSoft, Electronic Arts, Bethesda и Mail.Games.
            </p>
            <p>
                Главный офис PICKDREAM и производственный центр расположены в Ставрополе. Шоурум с компьютерами и периферией
                находятся в Москве. Мы осуществляем доставку компьютеров по всей России и миру. Наша компания работает
                как с частными, так и с юридическими лицами.
            </p>
        </div>
    </div>

{% endblock %}