{% extends 'main/layout.html' %}


{% block content %}

    <div class="welcome">
        <div class="welcome__text">
            <h1>МОЩНЫЕ<br> ИГРОВЫЕ<br> КОМПЬЮТЕРЫ</h1>
            <p>Мощные игровые компьютеры для максимальных настроек графики в играх, на базе процессоров Intel Core и
                видеокарт NVIDIA GeForce RTX. Отлично подходят для киберспортивных игроков и геймеров, ценящих плавность
                игрового процесса с высоким FPS на максимальных графических настройках. Выбор чемпионов.</p>
        </div>
    </div>

{% endblock %}